extends layout.pug
block content
  form(action='/create' method='post')
  input(type='hidden' name='_csrf' value=csrfToken)
  input(type='text' name='firstName' placeholder='First Name')
  input(type='text' name='lastName' placeholder='Last Name')
  input(type='email' name='email' placeholder='Email')
  input(type='password' name='password' placeholder='Password')
  input(type='password' name='confirmedPassword' placeholder='Confirm Password')
  input(type='submit' value='Create User')

